
# NOTE: commented out lines in the sample file are set to their
#   defaults and can be omitted from the .env if left unchanged

#API_SITE_WEB_SERVICE_FILES_DIR=/var/www/Common/apiSiteFilesMirror/webServices
#STEP_ANALYSIS_JOBS_DIR=/var/www/Common/tmp/wdkStepAnalysisJobs
#TOMCAT_LOGS_DIR=/var/www/Common/logs/tomcat

#SECRETS_DIR=/var/www/Common/secrets
#SECRET_KEY_FILENAME=wdkSecretKey.txt

# non-docker only (docker-compose combines the above values into this one)
SECRET_KEY_FILE=/var/www/Common/secrets/wdkSecretKey.txt

OAUTH_URL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

APP_DB_LOGIN=
APP_DB_PASSWORD=
APP_DB_CONNECTION_URL=

USER_DB_LOGIN=
USER_DB_PASSWORD=
USER_DB_CONNECTION_URL=