
# Root directory for runtime bind mounts
DATA_STORAGE_ROOT_DIR=

# Password for your oauth-keys.pkcs12 keystore file
OAUTH_SIGNING_KEY_STORE_PW=

# The four following secrets, keys and tokens must be a sufficient length.  
# Use project_home/OAuth2Server/bin/createHmacSecretValue.sh to generate them

# OAuth Client Secrets`
WDK_OAUTH_CLIENT_SECRET=
SERVICE_OAUTH_CLIENT_SECRET=

# Password for admin endpoints
ADMIN_AUTH_TOKEN=

# WDK secret key (any value; used as a salt in some value generation)
WDK_SECRET_KEY=


#### ORACLE-SPECIFIC VALUES ####

# Config for SSH tunneling to access databases
TUNNEL_HOST=
TUNNEL_PORT=
TUNNEL_USER=

# Special values for Mac OSX (uncomment if you are on Mac)
#SSH_AUTH_SOCKET_SOURCE=/run/host-services/ssh-auth.sock
#SSH_AUTH_SOCKET_TARGET=/ssh-agent

# Login/password combinations to connect to databases (WDK/EDA)
APP_DB_LOGIN=
APP_DB_PASSWORD=
USER_DB_LOGIN=
USER_DB_PASSWORD=

# Login/password combination to connect to account DB (OAuth (logins), EDA (dataset access))
ACCT_DB_LOGIN=
ACCT_DB_PASSWORD=

# User dataset schema suffix and password of the associated user (VDI)
VDI_SCHEMA_SUFFIX=
DB_CONNECTION_PASS_MICROBIOME=
